body{
    background-color: #987fff;
    background: url(https://images.unsplash.com/photo-1606167668584-78701c57f13d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) no-repeat;
    background-size: cover;

}

div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding-left: 5em;
}

button{
    background-color: rgb(238, 222, 5);
    margin :0.2em;
    width: 7em;
    padding: 0.8em;
    border-radius: 0.4em;
}

span{
    border: 2px solid #310ecc;
    font-size :1.5rem;
    font-weight: 0.5em;
    margin :0.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: rgb(14, 117, 212);
    border-radius: 0.3em;
    
}
select{
    background-color: rgb(241, 245, 7);
}

#winnerName{
    border: none;
    display: block;
}
h1{
    color: green;
}





